.file-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}

.btn-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 20px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    color: white;
}

.files-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4px;
    margin: 20px;
}

.files-container>* {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}

.file-preview {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.folder{
    background-color: royalblue;
}

